lab1/WorldMap.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="worldMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="country" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="city" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="cityName" use="required"/>
                      <xs:attribute type="xs:string" name="cityCode" use="required"/>
                      <xs:attribute type="xs:byte" name="cityId" use="optional"/>
                      <xs:attribute type="xs:byte" name="isCapital" use="optional"/>
                      <xs:attribute type="xs:positiveInteger" name="population" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="countryName" use="required"/>
            <xs:attribute type="xs:string" name="countryCode" use="required"/>
            <xs:attribute type="xs:integer" name="countryId" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>